.CartPage{
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    border-bottom:1px solid black ;
    margin-bottom: 10px;
}

.CartItem .image img {
  display: block;
  width: 50px;
  height: 50px;
}

.CartItem h1 {
    font-size: 20px;
    font-weight: normal;
    width: 400px;
}

.CartItem button {

    border: none;
    background:none;
    color:red;
    font-size: 20px;
}